{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div id="main">
    <div class="inner">
        <header>
            <h1>Sobre nuestro ordenador MSX</h1>
            <p>En esta pagina vamos a tener informacion acerca de neustra gran coleccion de videjuegos para nuestros ordenador preferido, el MSX.
                Si desea ver todos los juegos que tenemos en nuestra coleccion solo debe de pulsar sobre el logo de MSX que se encuentra debajo.
            </p>
            <span class="image">
                <a title="Ir a pagina de Juegos" href="/juegos"><img src="static/imagenes/Logo-MSX.png" alt="Logo de MSX"></a>
            </span>
        </header>
    </div>
</div>

{% endblock %}