{% extends "base.html" %}
{% block title %}Resultados{% endblock %}
{% block content %}
<div id="main">
    <div class="inner">
        <header>
            <h1>Consultar los juegos de MSX disponibles</h1>

            <table>
                <caption>Resultados de la busqueda</caption>
                <tr>
                    <th>Nombre</th>
                    <th>Desarrollador</th>
                    <th>Detalles</th>
                </tr>
                <tr>
                    <th>
                        {% for juegos in lista_nombres -%}

                        <p>{{juegos}}</p>

                        {% endfor -%}
                    </th>

                    <th>
                        {% for desarrollador in lista_desarrolladores -%}

                        <p>{{desarrollador}}</p>

                        {% endfor -%}
                    </th>

                    <th>
                        {% for id in lista_ids -%}

                        <a href="/juego/{{id}}"><p>Detalles</p></a>
                        {% endfor -%}
                    </th>
                </tr>
            </table>
        </header>
    </div>
</div>
{% endblock %}